*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial;
}

img{
  max-width: 100%;
}

.main-container{
  background-image: url("./images/background.jpg");
  background-size: 100vh;
  padding-top: 1rem;
}